streamlit==1.41.1
openai==1.70.0
langchain==0.3.15
faiss-cpu==1.10.0
PyPDF2==3.0.1
pandas==2.2.3
python-dotenv==1.0.1
tiktoken==0.8.0
sentence-transformers==3.4.1
scikit-learn==1.6.1
firebase-admin==6.7.0
Pyrebase4==4.3.0
requests==2.28.2
requests-toolbelt==0.9.1
langchain-anthropic==0.3.0
langchain-community==0.3.12
langchain-core==0.3.49
langchain-openai==0.3.1
langchain-text-splitters==0.3.3
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
google_search_results==2.4.2
pinecone==6.0.2
pinecone-plugin-interface==0.0.7