streamlit==1.41.1
openai==1.70.0
langchain==0.3.15
faiss-cpu==1.10.0
PyPDF2==3.0.1
pandas==2.2.3
python-dotenv==1.0.1
tiktoken==0.8.0
sentence-transformers==3.4.1
scikit-learn==1.6.1
firebase-admin==6.7.0
Pyrebase4==4.3.0